<header>
  <div class="title">
    <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
    {{ $.Scratch.Set "h1" false }}
    {{ with .Description }}
      <p>{{ . }}</p>
    {{ end }}
  </div>
  <div class="meta">
    <span><i class="fas fa-calendar-day" aria-hidden="true"></i><time class="entry-date" datetime="{{ .Date }}">{{ .Render "date" }}</time></span>
    {{ $date := .Date.Format "02.01.2006" }}
    {{ $lastmod := .Lastmod.Format "02.01.2006" }}
    {{ if and ($lastmod) (gt $lastmod $date) }}
      <span><i class="fas fa-sync" aria-hidden="true"></i><time class="update" datetime="{{ .Lastmod }}">{{ .Render "updated-date" }}</time></span>
    {{ end }}
    {{ with .Params.author }}<p>{{ . }}</p>{{ end }}
    {{ if .Site.Params.ReadingTime }}<p>{{ i18n "reading_time" .ReadingTime }}</p>{{ end }}
  </div>
</header>
