<div class="embed codepen-link">
  <iframe class="codepen-link" height="265" style="width: 100%;" scrolling="no" title="{{ index .Params 1 }}" src="https://codepen.io/{{ index .Params 0 }}/embed/{{ index .Params 1 }}?height=265&theme-id=default&default-tab=css,result" frameborder="no" allowtransparency="true" allowfullscreen="true">
      See the Pen <a href='https://codepen.io/{{ index .Params 0 }}/pen/{{ index .Params 1 }}'>VEYRqX</a> by {{ index .Params 0 }}
      (<a href='https://codepen.io/{{ index .Params 0 }}'>@{{ index .Params 0 }}</a>) on <a href='https://codepen.io'>CodePen</a>.
  </iframe>
</div>